span{
    color : red;
}
.color{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: brown;
}
.font-style{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

.div-1{
    border: 1px solid black;
    margin: 15px;
    color: blue;
}

.div-2{
    border: 1px solid black;
    margin: 15px;
    color: crimson;
}